@import url('https://fonts.googleapis.com/css?family=Lemon');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400i,500,600,600i,700,700i,800,800i,900');
@import url('https://fonts.googleapis.com/css?family=Exo');


#carouselOffers {
    height: 500px;
}

#carouselOffers img {
    max-height: 450px;
}

.intro {
    max-width: 400px;
    margin-top: 150px;
    text-align: center;
}
.card {
    height: 100%;
    overflow: hidden;
}

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}


body {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

#contact,
#work,
#testimonial,
#service,
#skills,
#about,
#blog {
    padding-top: 70px;
}

#service,
#about,
#blog,
#contact {
    max-width: 1170px;
    margin: auto;
}

header {
    position: relative;
}

.main-menu {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 11;
    transition: .5s;
}

.stick {
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 17px black;
}

.logo a {
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Lemon', sans-serif;
    color: #c15bff;
    font-size: 40px;
    font-weight: 900;
}

.menu-active {
    top: 82px;
    left: 0;
}
nav{
    display: flex;
    align-items: center;
}
nav ul li {
    display: inline-block;
    padding-right: 20px;
}

nav ul li a {
    color: #c15bff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-right: 2px solid transparent;
    padding-right: 4px;
}

nav ul li a:hover {
    border-right: 2px solid #c15bff;
    transition: 0.2s;
}

.active {
    border-right: 2px solid #c15bff;
}

header .main-menu .burger-menu {
    display: none;
}

#home {
    overflow: hidden;
}

.header-area {
    display: flex;
    justify-content: space-between;
}
.wrap-bg {
    height: 700px;
    justify-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-bg img {
    padding: 50px 50px 100px 50px;
    grid-column: 1/4;
    width: 90%;
    z-index: 2;
    align-self:end;
    box-sizing: content-box;
}

.main-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 4/7;
    justify-self: center;
}

.main-text>h1 {
    position: relative;
    margin: 0;
    font-weight: 900;
    color: #000;
    font-size: 85px;
    font-family: 'Montserrat', sans-serif;

}

.main-text>h1:first-of-type:after {
    content: "Mike";
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    line-height: 0;
    left: -1%;
    font-size: 150px;
    color: rgba(193, 91, 255, 0.37);
}

.main-text>h1:last-of-type:after {
    content: "Kimberlia";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: 0.8;
    z-index: -1;
    top: 0;
    font-size: 200px;
    left: -145%;
    color: rgba(193, 91, 255, 0.37);
}

.main-text>h2 {
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 30px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(193, 91, 255, 1);
    text-align:center;
}

/*=============================================ABOUT=====================================*/

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about .article {
    padding: 20px 20px 40px 20px;
    background-color: #ffffff;
    border: 0px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 3px rgba(117, 72, 179, 0.7);
}

.about-img {
    padding: 10px;
    align-self: center;
    justify-self: center;
    max-width: 550px;
    grid-row: 1;
}

.about-img img {
    width: 100%;
}

.section-title>h3 {
    font-size: 64px;
    font-family: 'Lemon', sans-serif;
    margin: 0;
    color: #000;
    text-align: center;
}

.section-title h4 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.about-text h4 {
    color: #000;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.about-text p {
    color: #000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.cv-button {
    margin-top: 40px;
}

.cv-button a {
    text-decoration: none;
    background-color: rgb(116, 82, 176);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 10px 30px;
    border: 0px solid #1c1c1c;
    border-radius: 25px;
    font-size: 22px;
    transition: 0.5s;
}

.cv-button a:hover {
    border: 1px solid rgb(116, 82, 176);
    color: #7452B0;
    background: transparent;
}

/*=============================================SERVICE=====================================*/

#service {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

#service .section-title {
    margin-bottom: 80px;
    grid-column: 1/3;
    grid-gap: 20px;
}

#service .section-title>h3 {
    text-align: left;
    padding-left: 30px;
    color: #000;
}

#service .single-service h4 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.single-service {
    justify-self: center;
    max-width: 500px;
    display: flex;
    border: 0px solid;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 0px 0px 20px 0px #642ba5;
}

.service-icon {
    color: rgba(149, 5, 255, 0.7);
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 45px;
}

/*=============================================SKILLS=====================================*/

.skills-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-inner {
    position: relative;
}

.skills-inner:after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 195px;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(118, 50, 181, 0.24), rgba(255, 255, 255, 0.64));
}

#skills .section-title {
    margin-top: 44px;
    max-width: 500px;
    margin: auto;
}

#skills .section-title h3 {
    color: #000;
    max-width: 1170px;
}

#skills article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;

}

.my-skills {
    max-width: 512px;
}

.my-skills img {
    width: 100%;
}

.skill-item {
    padding-bottom: 10px;
    box-sizing: border-box;
}

.skill-item h4 {
    font-family: 'Lemon', sans-serif;
}

.single-skill {
    border: 0px solid;
    background-color: #d6cbe8;
    border-radius: 25px;
    box-shadow: 0 0 20px 1px #fff;
}

.skills {
    text-align: right;
    border: 0px solid;
    padding-right: 20px;
    line-height: 25px;
    color: #000;
    border-radius: 25px;
    font-family: 'Lemon', sans-serif;
}

.html {
    width: 5%;
    background-color: #fff;

}

.css {
    width: 5%;
    background-color: #fff;
}

.js {
    width: 5%;
    background-color: #fff;
}

.java {
    width: 5%;
    background-color: #fff;
}

.actionHtml {
    width: 90%;
    background-color: #fff;
    transition: 2s;
}

.actionCss {
    width: 80%;
    background-color: #fff;
    transition: 2s;
}

.actionJs {
    width: 65%;
    background-color: #fff;
    transition: 2s;
}

.actionJava {
    width: 60%;
    background-color: #fff;
    transition: 2s;
}

/*=============================================WORK=====================================*/

#work {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    padding-top: 50px;
    max-width: 1980px;
    margin: auto;
}

.work-item img {
    width: 100%;
}

.work-item {
    max-width: 700px;
}

.work-wrap {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

#work .section-title {
    margin: 30px 0;
}

#work .section-title h3 {
    color: #000;
    margin-bottom: 30px;
}

.work-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayer-work {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    background: rgba(193, 91, 255, 0.48);
    transition: 0.5s;
}

.overlayer-work i {
    color: #fff;
    font-size: 30px;
    padding: 20px;
    background-color: rgba(0,0,0,.5);
}

.work-item:hover .overlayer-work {
    width: 100%;
}

/*=============================================Testimonial=====================================*/

#testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
}

#testimonial .section-title>h3 {
    color: #000;
    margin-bottom: 50px;
}

.carouse {
    max-width: 800px;
}

.carousel-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100px;
    margin-bottom: 20px;
    height: auto;
    border-radius: 50%;
    box-shadow: rgb(137, 48, 218) 0px 0px 30px;
}

.carousel-item h4 {
    margin: 0;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}

.carousel-item p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}


/*=============================================BLOG=====================================*/

#blog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding-top: 50px;
}

#blog .section-title {
    grid-column: 1/4;
    margin-bottom: 40px;
}

#blog .section-title h3 {
    color: #000;
}

.blog-item {
    margin: 0 10px;
    padding: 12px;
    text-align: center;
    max-width: 380px;
    box-shadow: 0 0 20px 3px #833f8c;
}

.blog-item img {
    width: 100%;
}

.blog-item h4 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.blog-item p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.blog-button a {
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 22px;
    color: #fff;
    background-color: #7452B0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}

.blog-button a:hover {
    border: 1px solid #7452B0;
    color: #7452B0;
    background: transparent;
}

/*=============================================CONTACT=====================================*/

#contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    padding: 100px 0px;
}

#contact .section-title {
    text-align: center;
    grid-column: 1/3;

}

#contact .section-title h3 {
    color: #000;
}

#main-form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}

#main-form label input {
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(133, 60, 189);
}

.contact-input form label:first-of-type {
    grid-column: 2/3;
}

.contact-input form label:last-of-type {
    grid-column: 3/4;
}

#main-form textarea {
    grid-column: 2/4;
    width: 100%;
    height: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(133, 60, 189);
}

#main-form input[type=submit] {
    grid-column: 2/3;
    max-width: 200px;
    margin-top: 40px;
    border: none;
    font-size: 16px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    background: #c282dc;
    font-weight: 700;
    transition: 0.5s;
    outline:none;
}

.successful-send {
    background: #44ff7f;
}

#main-form input[type=submit]:hover {
    color: #9048a7;
    border: 1px solid #9048a7;
    background: transparent;
}

#contact aside {
    margin-right: 10px;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 11px #bb50d2;
}

.social-icon {
    margin: 20px;
    color: #9048a7;
    font-size: 32px;
}

.social-icon:hover {
    text-shadow: 0 0 12px #a466ab;
}

#modal-work-1,
#modal-work-2,
#modal-work-3,
#modal-work-4,
#modal-work-5,
#modal-work-6{
    display: none;
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-content .img-wrap {
    max-width: 600px;
}

.modal-content .img-wrap img {
    width: 100%;
}

.modal-text {
    padding: 20px;
}

.modal-content p {
    font-size: 16px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}